<ion-header translucent>
  <ion-toolbar color="success">
    <ion-title>Tactibot</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-container">
    <div *ngFor="let chat of chatHistory" [ngClass]="{'user-message': chat.sender === 'user', 'bot-message': chat.sender === 'bot'}">
      {{ chat.message }}
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-item lines="none">
      <ion-input [(ngModel)]="userMessage" placeholder="Escribe un mensaje"></ion-input>
      <ion-button color="light" (click)="sendMessage()">Enviar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
