<ion-content>
  <div class="background">
    <div class="container">
      <div class="hero">
        <h1>Bienvenido a FutboLink</h1>
        <p>Tu plataforma definitiva para organizar partidos de fútbol</p>
        <div class="app-description">
          <h2>¿Qué es FutboLink?</h2>
          <p>
            FutboLink es una aplicación diseñada para ayudarte a organizar partidos de fútbol con amigos, compañeros de trabajo, familiares y más. ¿No tienes con quién jugar? ¡No te preocupes! Con FutboLink, también puedes unirte a partidos abiertos organizados por otros usuarios.
          </p>
          <p>
            Conecta con otros amantes del fútbol, organiza partidos fácilmente y encuentra juegos a los que unirte. ¡Vive la pasión del fútbol de manera sencilla y divertida!
          </p>
        </div>
        <ion-button expand="full" color="light" routerLink="/home">Acceso a FutboLink</ion-button>
      </div>
    </div>
  </div>
  <div class="admin-access">
    <ion-button fill="clear" color="light" routerLink="/admin">Acceso Administrativo</ion-button>
  </div>
</ion-content>
