<ion-header>
  <ion-toolbar color="success">
    <ion-title>Fotografías</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu" fill="clear">
        <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="photo-header">
    <ion-button expand="full" color="success" (click)="imageService.takePicture()">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Tomar Foto
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let photo of photos" class="photo-column">
        <div class="photo-container" (click)="openImage(photo)">
          <ion-img [src]="photo" class="photo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal para la imagen ampliada -->
  <div id="imageModal" class="image-modal" (click)="closeImage()">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
  </div>
</ion-content>
